@using Lab4

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Order>
@{
    Layout = "Layout";
    ViewData["Title"] = "Order list";
}
<h1>Order list</h1>
<table>
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CustomerName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.PizzaSize)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.CustomerSex)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Order" asp-action="EditForm" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <form action="/Order/Add" method="post">
                <td>
                    <input name="CustomerName" type="text" />
                </td>
                <td>
                    <input name="PizzaSize" type="text" />
                </td>
                <td>
                    <select name="CustomerSex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </td>
                <td>
                    <input name="Price" type="number" min="1" max="200" />
                </td>
                <td>
                    <input name="Add" type="submit" value="Add order" />
                </td>
            </form>
        </tr>
    </tbody>
</table>